body
{
	margin: 0px;
	padding: 1em;
	font-family: "Helvetica Neue","Helvetica","Arial","Sans-serif";
	font-size:1em;
	/*background: #EEE;*/
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

.neatBorderBox {
	border: 1px #eee solid;
	padding: 0.5em;
	margin-right: 1em;
	background: #eee;
}

#myCanvas
{
	border: 1px #CCC solid;
}

#scanChartContainer
{
	position: absolute;
	top: 0;
	left: 0;
	background:rgba(255,255,255,0.9);
	padding: 10px;
	border: 1px solid #CCC;
	display: none;
}

div
{
	margin: 0;
}

#scanDisplay table, th, td
{
   border: 1px solid black;
   border-collapse: collapse;
   /*
		If you just collapse all table borders, it messes up the tree visualisation
		that Google charts API makes. That's why this CSS rule only applies to tables
		within the #scanDisplay element.
   */
}

button
{
	/*min-width: 8em;*/
	padding: 0.5em;
	border: 0.1em solid #CCC;
	outline: none;
	background: white;
	font-size:1em;
	/*box-shadow: 0px 1px 5px #CCC;*/

	transition: all linear 100ms;
}

button:active
{
	position:relative;
	top:0.1em;
}

button:hover
{
	background: #CCC;
	color:white;

	transition: all linear 100ms;
}

button:disabled
{
	border:1px solid white;
	box-shadow:none;
	color:white;

	transition: background linear 100ms;
	transition: border linear 100ms;
}

button:disabled:hover
{
	background:white;
	color:white;
}

.chart
{
		/*border: 1px #CCC solid;*/
		margin: 1em;
		display: inline-block;
}

/*----- Tabs -----*/
.tabs {
	width:100%;
	display:inline-block;
	background: #eee;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

ul.tab-links {
	margin-bottom: 0;
}

.tab-links li {
	/*margin:0px 5px;*/
	float:left;
	list-style:none;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	/*border-radius:3px 3px 0px 0px;*/
	border: 1px solid #CCC;
	background:#fff;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
	text-decoration:none;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {

	background:#7FB5DA;
	color:#4c4c4c;
	text-decoration:none;
}

/*----- Content of Tabs -----*/
.tab-content {
	/*
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	*/
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	border: 1px solid #CCC;
	background:#fff;
	background: #eee;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}

/* D3 based treeview related CSS */

	.node {
    cursor: pointer;
  }

  .overlay{
      background-color:#EEE;
  }

  .node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .node text {
    font-size:10px;
    font-family:sans-serif;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .ghostCircle.show{
      display:block;
  }

  .ghostCircle, .activeDrag .ghostCircle{
       display: none;
  }

/* end D3 based treeview CSS */

/* treemap CSS from http://codepen.io/boars/pen/JjILy */
/* doesn't look any different from Bostock's orginal treemap */

#treeMapChart {
  width: 960px;
  height: 500px;
  background: #ddd;
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  /* fill: none; */
  stroke: black;
  stroke-width: 1px;
}

rect.parent {
  stroke-width: 3px;
}

/*
	rect.parent,
	.grandparent rect {
	  stroke-width: 3px;
	}
*/
.grandparent rect {
  fill: #F8F8F8; /* orange */
}

.grandparent:hover rect {
  fill: #E6E6E6; /* #ee9700 */
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  /* fill: #bbb; */
  /*fill-opacity: .5;*/
  fill-opacity: 0;
}

.children:hover rect.child {
  /*fill: #bbb;*/
}

/* end treemap CSS */

div.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 2px;
  background: lightsteelblue;
  border: 1px solid black;
  pointer-events: none;
}

.dot {
  /*stroke: #000;*/
  stroke: 'hsl(200, 100%, 40%)';
}
